<%- include('../partials/headers/__headerCommitteeAndAdmin.ejs', { title: 'Dashboard Admin' }) %>
<%- include('../partials/nav-sides/__nav-sideCommite.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <h1>ini halaman dashboard Panitia</h1>
            </div>
        </div>

    </div>
</div>

<%- include('../partials/scripts/__scriptCommitteeAndAdmin.ejs') %>