    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="/" class="az-logo"><span></span> azia</a>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="/" class="az-logo"><span></span> azia</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
          <ul class="nav" id="postVotingNav">
            <li class="nav-item">
              <a href="/" class="nav-link" data-page="dashboard"><i class="typcn typcn-chart-area-outline"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="/tahun-angkatan" class="nav-link" data-page="tahun-angkatan"><i class="typcn typcn-calendar-outline"></i> Tahun Angkatan</a>
            </li>
            <li class="nav-item">
              <a href="/fakultas" class="nav-link" data-page="fakultas"><i class="typcn typcn-mortar-board"></i> Fakultas</a>
            </li>
            <li class="nav-item">
              <a href="/departemen" class="nav-link" data-page="departemen"><i class="typcn typcn-group-outline"></i> Departemen</a>
            </li>
            <li class="nav-item">
              <a href="/jurusan" class="nav-link" data-page="jurusan"><i class="typcn typcn-book"></i> Jurusan</a>
            </li>
            <li class="nav-item">
              <a href="/gender" class="nav-link" data-page="gender"><i class="typcn typcn-user-outline"></i> Gender</a>
            </li>
          </ul>
        </div><!-- az-header-menu -->
        <div class="az-header-right">
        </div><!-- az-header-right -->
      </div><!-- container -->
    </div>
